@media (max-width: 1199px){
	.get-box{margin-left:40px;margin-top:10px;}
	.main-payment{padding-top:50px;}
	.main-payment-option{margin-top: 20px;}
	.main-find-item:nth-child(4n){margin-right:1.3%;}
	.main-shop-item:nth-child(5n){margin-right:4.7%;}
	.main-set-option{margin-right:19.5%}
	.main-recharge li{margin-right:9%;}
	.right-evaluate button{margin-bottom: 10px;}
	.right-evaluate{margin-top:40px;}
    #myScrollspy ul.nav-pills{left:20px;margin-left:0;z-index: 99}
}
@media (max-width: 1190px){
	.user-name{border-right:none;border-bottom: 1px solid #eee;width:100%;padding-bottom: 20px;}
	.user-money{padding:0;}
	.main-set-option{margin-right:16.5%;}
}
@media (max-width: 1150px){
	.main-recharge li{margin-right:4%;}
    .main-deposit-option:last-child{margin-left:165px;margin-top:20px;}
}
@media (max-width: 1133px){
	#postage{margin-left:68px;margin-top:10px;}
}
@media (max-width: 1110px){
	.custom-made .made-number{float:none;display: block;clear:both;}	
}
@media (max-width: 1090px){
	.main-set-option{margin-right:14.5%;}
}
@media (max-width: 1075px){
	.exp-shoes .btn1 .car{margin-left:20px;}
    .menu-section>ul>li{margin-right:5.5%}
}
@media (max-width: 1043px){
	.exp-shoes .btn1 .car{margin-left:10px;}
}
